<!DOCTYPE html>
<html>
  <head>
    <title> Image to PDF Converter</title>
    <link rel="stylesheet" href="./static/css/imgtopdf.css">
  </head>
  <body>
    <div class="container">
      <h1>Image to PDF Converter</h1>
      <form>
        <div class="form-group">
          <label for="input-files">Select image files:</label>
          <input type="file" id="input-files" multiple accept="image/*">
        </div>
        <button type="button" id="convert-btn">Convert to PDF</button>
      </form>
    </div>
    <script src="./static/js/imgtopdf.js"></script>
  </body>
</html>
